<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemons</title>
    <style type="text/css">
         @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        html {
            background-color: steelblue;
            color: blanchedalmond;
        }

        a:link {
            color: blanchedalmond;
        }

        body {
            text-align: center;
        }

        h1 {
            font-family: 'Press Start 2P', cursive;
        }

        ul {
            list-style-position: inside;
            list-style-type: none;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <h1>See All The Pokemon!</h1>
    <ul>
        <% for (let i = 0; i < pokemons.length; i++) { %>
            <li>
                <a href='/pokemon/<%=i%>'>
                    <%= pokemons[i].name.charAt(0).toUpperCase() + pokemons[i].name.slice(1) %>
                </a>
            </li> 
        <% }; %>
    </ul>
</body>
</html>